body {
    background: linear-gradient(to bottom, rgb(255, 0, 55), rgba(0,0,0,0),  rgb(255, 0, 55));
    font-family: "Book Antiqua", sans-serif;
    color: steelblue;
    font-weight: 800;
}

a.pseudo-button {
    color: black;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid darkgrey;
    background: lightgray;
  }